{% extends 'base.html' %}
{% block content %}
<p style="font-size: 50px;font-weight: bold;" align="center">My First Django Application that has an admin side with username[<q>first_app</q>] password [<i>firstapp</i>]</p>
<p style="font-size: 50px;font-weight: bold;color: orange;" align="center">This is the Simplest Django Code Structure You Will Learn From</p>
<p style="font-size: 50px;font-weight: bold;color: red;" align="center">Fuck I really Love Programming</p>
<p style="font-size: 50px;font-weight: bold;color: green;" align="center">Author: Egaru Felix</p>
{% endblock %}